/*  your css code here. If applicable */
#buttons{
	width:100vw;
	height:200px;
	background-color:purple;
	display:flex;
	justify-content:space-around;
	align-items:center;
}
.btn{
	padding:4px;
	color:white;
	background-color:grey;
	border:1px solid grey;
}
